@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #9e9aa7;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

h3 {
  color: #232127;
  font-weight: 700;
}

.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.btn-normal {
  background: none;
  border: none;
  color: #9e9aa7;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.btn-normal:hover {
  color: #35323e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-blue {
  border: none;
  color: #fff;
  padding: 1em 2em;
  background-color: #2acfcf;
  border-radius: 25px;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.btn-blue:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-header .logo {
  height: 1rem;
  width: 2rem;
}

@media only screen and (max-width: 1000px) {
  .navbar-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    height: auto;
    margin: 1.5rem;
  }
  .open {
    position: relative;
    height: 2em;
    margin: -0.2em -0.8em 0 0;
  }
  .exit {
    display: none;
    color: red;
    height: 2rem;
  }
  .nav {
    position: absolute;
    visibility: hidden;
    top: 12vh;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 0;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .nav ul {
    background-color: #3b3054;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 2rem;
    width: 86vw;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .nav ul li {
    list-style: none;
    padding: 1rem 0;
    font-weight: bold;
  }
  .nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  .nav ul li:nth-of-type(1) {
    padding-top: 0;
  }
  .nav ul li:nth-of-type(3) {
    border-bottom: 1px solid #9e9aa7;
  }
  .nav ul .btn-blue {
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  .open-nav {
    visibility: unset;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.hero-section {
  height: 70vh;
  margin-top: 2em;
  background-image: url("../images/illustration-working.svg");
  background-size: 80% contain;
  background-repeat: no-repeat;
  background-position: top 0px right -200px;
  z-index: 0;
}

.hero-section-contents {
  padding-left: 8vw;
  position: relative;
  width: 50vw;
}

.hero-section-contents h3 {
  font-size: 4em;
  line-height: 1.2em;
  margin-bottom: 0;
}

.hero-section-contents p {
  line-height: 2em;
  letter-spacing: 0.1em;
  margin-bottom: 1.8em;
}

.hero-section-contents .btn-blue {
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 600px) {
  .hero-section {
    margin-top: 0;
    background-size: 120%;
    background-position: top 20px right -100px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 3em;
  }
  .hero-section-contents {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 50vh;
  }
  .hero-section-contents img {
    position: relative;
    padding-top: 2em;
    width: 120vw;
    left: 60px;
  }
  .hero-section-contents h3 {
    margin: 0;
    padding-top: 1em;
    font-size: 2em;
  }
  .hero-section-contents p {
    margin-top: 0;
    font-size: 16px;
  }
  .hero-section-contents .btn-blue {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-section-contents h3 {
    font-size: 2em;
  }
  .hero-section-contents p {
    margin-bottom: 1.2em;
  }
}

.statistics-section {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #d9d9d9;
  text-align: center;
  padding: 10vh 8vw;
}

.statistics-section p {
  color: #9e9aa7;
}

.statistics-section .statistics-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.statistics-section .statistics-contents p {
  width: 38vw;
}

.statistics-section .cards-logo {
  position: relative;
  top: -50px;
  background-color: #3b3054;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1.2em;
  border-radius: 50%;
}

.statistics-section .cards-logo img {
  display: block;
  height: 1.5em;
  width: 1.5em;
}

.statistics-section .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
}

.statistics-section .cards-container .cards-with-connector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.statistics-section .cards-container .connector-1,
.statistics-section .cards-container .connector-2 {
  height: 8px;
  width: 2em;
  background-color: #2acfcf;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14vh;
}

.statistics-section .cards-container .cards-1,
.statistics-section .cards-container .cards-2,
.statistics-section .cards-container .cards-3 {
  background-color: #fff;
  width: 20vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1em;
  text-align: left;
  border-radius: 5px;
}

.statistics-section .cards-container .cards-1 .cards-contents,
.statistics-section .cards-container .cards-2 .cards-contents,
.statistics-section .cards-container .cards-3 .cards-contents {
  margin-top: -8vh;
}

.statistics-section .cards-container .cards-1 .cards-contents h5,
.statistics-section .cards-container .cards-2 .cards-contents h5,
.statistics-section .cards-container .cards-3 .cards-contents h5 {
  color: #232127;
}

.statistics-section .cards-container .cards-1 .cards-contents p,
.statistics-section .cards-container .cards-2 .cards-contents p,
.statistics-section .cards-container .cards-3 .cards-contents p {
  margin-top: -2vh;
  font-size: 13px;
}

.statistics-section .cards-container .cards-2 {
  margin-top: 2em;
}

.statistics-section .cards-container .cards-3 {
  margin-top: 4em;
}

@media only screen and (max-width: 1000px) {
  .statistics-section .statistics-contents h3 {
    font-size: 1.5em;
  }
  .statistics-section .statistics-contents p {
    width: 100%;
    padding: 0 1em;
    margin: 0;
    text-align: center;
    font-size: 16px;
  }
  .statistics-section .cards-logo {
    position: relative;
    margin: 0 auto;
  }
  .statistics-section .cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .statistics-section .cards-container .cards-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statistics-section .cards-container .cards-with-connector {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statistics-section .cards-container .connector-1,
  .statistics-section .cards-container .connector-2 {
    display: none;
  }
  .statistics-section .cards-container .cards-1,
  .statistics-section .cards-container .cards-2,
  .statistics-section .cards-container .cards-3 {
    width: 90%;
    margin: 2em 1em;
    border-radius: 5px;
    z-index: 10;
  }
  .statistics-section .cards-container .cards-1 .cards-contents,
  .statistics-section .cards-container .cards-2 .cards-contents,
  .statistics-section .cards-container .cards-3 .cards-contents {
    text-align: center;
  }
  .statistics-section .cards-container .cards-1 .cards-contents h5,
  .statistics-section .cards-container .cards-2 .cards-contents h5,
  .statistics-section .cards-container .cards-3 .cards-contents h5 {
    font-size: 18px;
  }
  .statistics-section .cards-container .cards-1 .cards-contents p,
  .statistics-section .cards-container .cards-2 .cards-contents p,
  .statistics-section .cards-container .cards-3 .cards-contents p {
    font-size: 16px;
  }
}

.boost-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 1em 0 2em 0;
  background-color: #3b3054;
  background-image: url("../../images/bg-boost-desktop.svg");
  background-size: cover;
}

.boost-section h3 {
  color: #fff;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #232127;
  padding: 2em 8vw;
}

footer img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

footer .logo {
  color: #fff;
}

footer .social-logos {
  padding-top: 1.5em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

footer .social-logos img {
  margin-right: 1em;
}

footer .info h5 {
  color: #fff;
}

footer .info p {
  font-size: 14px;
  line-height: 1em;
}

@media only screen and (max-width: 600px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 1em 0 2em 0;
  }
}

.url-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 77vh;
  margin: 2em 8vw;
  width: 83vw;
  border-radius: 5px;
  z-index: 10;
}

#shortened-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shortened-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5em 0;
  padding: 0 1em;
  background-color: #fff;
  border-radius: 5px;
}

.shortened-links .links {
  color: #232127;
}

.shortened-links .blue {
  color: #2acfcf;
}

.shortened-links .shortened-links-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shortened-links .shortened-links-btn .btn-copy {
  height: 3em;
  width: 6em;
  margin-left: 1em;
  background-color: #2acfcf;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.add-violet {
  background: #3b3054 !important;
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-4px);
            transform: translateX(-4px);
  }
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-transform: translateX(4px);
            transform: translateX(4px);
  }
}

.url-shortner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3b3054;
  background-image: url("../../images/bg-shorten-desktop.svg");
  padding: 2em;
  margin: 1em 0;
  border-radius: 5px;
}

.url-shortner #url-input,
.url-shortner #shorten-btn {
  height: 3em;
  border-radius: 5px;
  margin: 0;
  border: none;
}

.url-shortner #url-input {
  width: 84%;
  padding-left: 1em;
}

.url-shortner #url-input::-webkit-input-placeholder, .url-shortner #url-input:focus {
  font-weight: 500;
}

.url-shortner #url-input:-ms-input-placeholder, .url-shortner #url-input:focus {
  font-weight: 500;
}

.url-shortner #url-input::-ms-input-placeholder, .url-shortner #url-input:focus {
  font-weight: 500;
}

.url-shortner #url-input::placeholder, .url-shortner #url-input:focus {
  font-weight: 500;
}

.url-shortner #shorten-btn {
  width: 14%;
  padding: 0 1em;
  background-color: #2acfcf;
  color: #fff;
}

@media only screen and (max-width: 1000px) {
  .url-container {
    top: 74vh;
  }
  .url-shortner {
    margin: 0;
    padding: 2em;
  }
  .url-shortner #url-input {
    width: 75%;
  }
  .url-shortner #shorten-btn {
    width: 20%;
  }
  .shortened-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1em;
    text-align: left;
    width: 99%;
  }
  .shortened-links .links {
    border-bottom: 2px solid #d9d9d9;
    padding: 1em 0;
    margin: 0;
    font-size: 14px;
  }
  .shortened-links .shortened-links-btn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 1em;
  }
  .shortened-links .shortened-links-btn .links .blue {
    border-bottom: none;
  }
  .shortened-links .shortened-links-btn .btn-copy {
    margin-left: 2em;
    width: 8em;
  }
}

@media only screen and (max-width: 600px) {
  .url-shortner {
    position: absolute;
    top: 26vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 1.8em;
  }
  .url-shortner #url-input {
    width: 100%;
    margin-bottom: 2em;
  }
  .url-shortner #shorten-btn {
    width: 100%;
    margin-bottom: 0;
  }
  .shortened-links:nth-child(1) {
    margin-top: 4em;
  }
  .shortened-links .links {
    overflow: hidden;
  }
}

.nav {
  height: 12vh;
}

.hamburger-icon {
  height: 2.5em;
}

.menu-close-icon {
  display: none;
  position: absolute;
  margin-right: 1em;
  top: -0.8em;
  font-size: 3em;
  color: #34313d;
}

@media only screen and (max-width: 600px) {
  .nav .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .nav-right div {
    height: 3px;
    width: 24px;
    border-radius: 5px;
    background-color: #9e9aa7;
  }
}

.menu-mobile {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3b3054;
  text-align: center;
  width: 90vw;
  margin: 5vw;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  z-index: 100;
}

.menu-mobile ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.menu-mobile ul hr {
  width: 100%;
  border: 1px solid #9e9aa7;
  opacity: 0.1;
}

.menu-mobile ul li {
  padding: 1em 0;
}

.menu-mobile div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.menu-mobile div .btn-normal {
  font-size: 18px;
  padding: 1em 0;
  color: #fff;
}

.menu-mobile div .btn-blue {
  font-size: 18px;
  padding: 0.5em 0;
  color: #fff;
}

.mobile,
.menu-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */