@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@import "./abstract/variables";
@import "./abstract/mixin";

@import "./layouts/home";
@import "./components/button";
@import "./components/navbar";
@import "./layouts/hero-section";
@import "./layouts/statistics-section";
@import "./layouts/boost-section";
@import "./layouts/footer";
@import "./components/url-shortner";
@import "./components/navbar-mobile";
@import "./layouts/menu";
.mobile,
.menu-mobile {
    display: none;
}

@include respond(mobile) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
}
