footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $VeryDarkViolet;
    padding: 2em $desktop-padding-side;
    img {
        height: max-content;
    }
    .logo {
        color: #fff;
    }
    .social-logos {
        padding-top: 1.5em;
        height: max-content;
        img {
            margin-right: 1em;
        }
    }

    .info {
        h5 {
            color: #fff;
        }
        p {
            font-size: 14px;
            line-height: 1em;
        }
    }
}

@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1em 0 2em 0;
    }
}
