.hero-section {
    height: 70vh;
    margin-top: 2em;
    background-image: url("../images/illustration-working.svg");
    background-size: 80% contain;
    background-repeat: no-repeat;
    background-position: top 0px right -200px;

    z-index: 0;
}

.hero-section-contents {
    padding-left: $desktop-padding-side;
    position: relative;
    width: 50vw;

    h3 {
        font-size: 4em;
        line-height: 1.2em;
        margin-bottom: 0;
    }
    p {
        line-height: 2em;
        letter-spacing: 0.1em;
        margin-bottom: 1.8em;
    }

    .btn-blue {
        letter-spacing: 0.1em;
    }
}

@media only screen and (max-width: 600px) {
    .hero-section {
        margin-top: 0;
        background-size: 120%;
        background-position: top 20px right -100px;
        height: max-content;
        display: flex;
        flex-direction: column;
        padding-bottom: 3em;
    }

    .hero-section-contents {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        padding: 1em;
        align-items: center;
        text-align: center;
        padding-top: 50vh;
        img {
            position: relative;
            padding-top: 2em;
            width: 120vw;

            left: 60px;
        }

        h3 {
            margin: 0;
            padding-top: 1em;
            font-size: 2em;
        }
        p {
            margin-top: 0;
            font-size: 16px;
        }

        .btn-blue {
            width: max-content;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .hero-section-contents {
        h3 {
            font-size: 2em;
        }
        p {
            margin-bottom: 1.2em;
        }
    }
}
