.hero-section {
    height: 70vh;
    margin-top: 2em;
    background-image: url("../images/illustration-working.svg");
    background-size: 80% contain;
    background-repeat: no-repeat;
    background-position: top 0px right -200px;
    z-index: 0;
}

.hero-section-contents {
    padding-left: $desktop-padding-side;
    position: relative;
    width: 50vw;

    h3 {
        font-size: 4em;
        line-height: 1.2em;
    }
    p {
        margin-top: -10vh;
        line-height: 2em;
        letter-spacing: 0.1em;
    }

    .btn-blue {
        letter-spacing: 0.1em;
    }
}
