*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: $GrayishViolet;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}
h3 {
    color: $VeryDarkViolet;
    font-weight: 700;
}

.attribution {
    display: none;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
