.statistics-section {
    position: relative;
    height: max-content;
    background-color: $Gray;
    text-align: center;
    padding: 10vh $desktop-padding-side;

    p {
        color: $GrayishViolet;
    }

    .statistics-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            width: 38vw;
        }
    }
    .cards-logo {
        position: relative;
        top: -50px;
        background-color: $DarkViolet;
        width: max-content;
        padding: 1.2em;
        border-radius: 50%;

        img {
            display: block;
            height: 1.5em;
            width: 1.5em;
        }
    }

    .cards-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 10vh;

        .cards-with-connector {
            display: flex;
            flex-direction: row;
        }

        .connector-1,
        .connector-2 {
            height: 8px;
            width: 2em;
            background-color: $Cyan;
            align-items: center;
            justify-content: center;
            margin-top: 14vh;
        }

        .cards-1,
        .cards-2,
        .cards-3 {
            background-color: #fff;
            width: 20vw;
            height: max-content;
            padding: 1em;
            text-align: left;
            border-radius: 5px;
            .cards-contents {
                margin-top: -8vh;
                h5 {
                    color: $VeryDarkViolet;
                }
                p {
                    margin-top: -2vh;
                    font-size: 13px;
                }
            }
        }

        .cards-2 {
            margin-top: 2em;
        }

        .cards-3 {
            margin-top: 4em;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .statistics-section {
        .statistics-contents {
            h3 {
                font-size: 1.5em;
            }
            p {
                width: 100%;
                padding: 0 1em;
                margin: 0;
                text-align: center;
                font-size: 16px;
            }
        }

        .cards-logo {
            position: relative;
            margin: 0 auto;
        }

        .cards-container {
            flex-direction: column;
            align-items: center;

            .cards-container {
                flex-direction: column;
            }

            .cards-with-connector {
                flex-direction: column;
            }
            .connector-1,
            .connector-2 {
                display: none;
            }
            .cards-1,
            .cards-2,
            .cards-3 {
                width: 90%;
                margin: 2em 1em;
                border-radius: 5px;
                z-index: 10;
                .cards-contents {
                    text-align: center;
                    h5 {
                        font-size: 18px;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
