button {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
.btn-normal {
    background: none;
    border: none;
    color: $GrayishViolet;
    transition: 0.5s linear;
    &:hover {
        color: $VeryDarkBlue;
        transform: scale(1.1);
    }
}
.btn-blue {
    border: none;
    color: #fff;
    padding: 1em 2em;
    background-color: $Cyan;
    border-radius: 25px;
    transition: 0.5s linear;
    &:hover {
        opacity: 0.7;
        transform: scale(1.1);
    }
}
