.navbar-header {
    display: flex;
    flex-direction: row;
    margin: 1rem $desktop-padding-side 0 $desktop-padding-side;

    .logo {
        width: auto;
        padding-top: 0.5rem;
        padding-right: 2rem;
    }
}
.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 !important;
    padding: 0;
    width: max-content;
    li {
        list-style: none;
        font-weight: bold;
        &:nth-of-type(1) {
            padding-left: 0;
            padding-right: 2rem;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
            padding: 0 2rem;
        }

        a {
            text-decoration: none;
            color: $GrayishViolet;
        }
    }
}

.open,
.exit,
.nav {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .navbar-header {
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        height: auto;
        margin: 1.5rem;
    }

    .open {
        display: block;
        position: relative;
        height: 2em;
        margin: 0 -0.8em 0 0;
    }

    .exit {
        display: none;
        height: 2rem;
    }
    .desktop-nav {
        display: none;
    }
    .logo {
        padding: 0;
    }
    .nav {
        display: block;
        position: absolute;
        visibility: unset;
        top: 12vh;
        transform: translateX(50%);
        opacity: 0;
        transition: 0.3s all;
        ul {
            background-color: $DarkViolet;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-around;
            margin: 0;
            padding: 2rem;

            width: 86vw;
            border-radius: 0.5rem;
            font-size: 1rem;
            li {
                list-style: none;
                padding: 1rem 0;
                font-weight: bold;

                a {
                    text-decoration: none;
                    color: $White;
                }
                &:nth-of-type(1) {
                    padding-top: 0;
                }
                &:nth-of-type(3) {
                    border-bottom: 1px solid $GrayishViolet;
                    padding-bottom: 2rem;
                }
                &:nth-of-type(4) {
                    padding: 1.5rem 0;
                }
            }

            .btn-blue {
                font-weight: bold;
                font-size: 1rem;
                padding: 0.5rem 0;
            }
        }
    }

    .open-nav {
        visibility: unset;
        opacity: 1;
        transform: translateX(0);
    }
}
