.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 $desktop-padding-side;
    font-size: 14px;

    .nav-left {
        width: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        p {
            line-height: 18px;
        }
    }

    .nav-right {
        display: flex;
        flex-direction: row;
        text-align: right;

        .btn-normal {
            padding: 0;
        }
    }

    .desktop {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        padding: 1em 1em 1em 2em;
        height: max-content;

        .nav-right {
            flex-direction: column;
            justify-content: space-between;
            height: 0.1em;
            div {
                height: 0.2em;
            }
        }

        .desktop {
            display: none;
        }
    }
}
