body {
    margin: 0;
}
.tabs-container {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabs {
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.tabs-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .tab {
        padding: 0.5em 1em;
        width: 50%;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
    .login {
        border-right: 1px solid #ccc;
    }
}

.tab-panel {
    // background-color: #f0f;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    .signin,
    .signup {
        padding: 1em;
        // background-color: #0f0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border: 5px;
    }

    input,
    button {
        flex: 1;
        padding: 1em;
        margin: 1em;
        border-radius: 5px;
        border: 1px solid $Cyan;
    }

    .btn-blue {
        &:hover {
            transform: none;
        }
    }
}

.tab,
button {
    cursor: pointer;
}

.selected-tab {
    color: #16161d;
    font-weight: 700;
    border-bottom: 2px solid $Cyan !important;
}
