.url-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 77vh;

    margin: 2em $desktop-padding-side;
    width: 83vw;
    border-radius: 5px;
    z-index: 10;
}

#shortened-links-container {
    display: flex;
    flex-direction: column;
}

.shortened-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 0;
    padding: 0 1em;
    background-color: #fff;
    border-radius: 5px;

    .links {
        color: $VeryDarkViolet;
    }
    .blue {
        color: $Cyan;
    }
    .shortened-links-btn {
        display: flex;
        flex-direction: row;
        align-items: center;
        .btn-copy {
            height: 3em;
            width: 6em;
            margin-left: 1em;
            background-color: $Cyan;
            color: #fff;
            border: none;
            border-radius: 5px;
        }
    }
}
.add-violet {
    background: $DarkViolet !important;
    animation-name: shake;
    animation-duration: 0.4s;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-4px);
    }
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translateX(4px);
    }
}

.url-shortner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $DarkViolet;
    background-image: url("../../images/bg-shorten-desktop.svg");
    padding: 2em;
    margin: 1em 0;
    border-radius: 5px;
    input,
    button {
        height: 3em;
        border-radius: 5px;
        margin: 0;
        border: none;
    }

    input {
        width: 84%;
        padding-left: 1em;

        &::placeholder,
        &:focus {
            font-weight: 500;
        }
    }

    button {
        width: 14%;
        padding: 0 1em;
        background-color: $Cyan;
        color: #fff;
    }
}

@media only screen and (max-width: 600px) {
    .url-container {
        position: absolute;
        width: 100%;
        margin: 2em 0;
    }

    .shortened-links {
        flex-direction: column;
        padding: 0 1em;
        text-align: left;
        top: 80vh;
        .links {
            min-width: 100%;
            max-width: fit-content;
            border-bottom: 2px solid $Gray;
            padding: 1em 0;
            margin: 0;
            font-size: 14px;
        }

        .shortened-links-btn {
            flex-direction: column;
            padding-bottom: 1em;

            .links .blue {
                border-bottom: none;
            }
            .btn-copy {
                margin-left: 0;
                width: 100%;
            }
        }
    }

    .url-shortner {
        position: relative;
        top: 20vh;
        padding: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em $desktop-padding-side;
        input,
        button {
            width: 100%;
        }

        button {
            margin-top: 1em;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .url-shortner {
        margin: 4em;
    }
}
