.url-shortner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $DarkViolet;
    background-image: url("../../images/bg-shorten-desktop.svg");
    margin: 2em $desktop-padding-side;
    padding: 2em;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    top: 77vh;
    input,
    button {
        height: 3em;
        border-radius: 5px;
        margin: 0;
        border: none;
    }

    input {
        width: 70vw;

        &::placeholder {
            padding-left: 1em;
        }
    }

    button {
        padding: 0 1em;
        background-color: $Cyan;
        color: #fff;
    }
}
