.url-shortner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $DarkViolet;
    background-image: url("../../images/bg-shorten-desktop.svg");
    margin: 2em $desktop-padding-side;
    padding: 2em;
    border-radius: 5px;
    z-index: 10;
    position: absolute;
    top: 77vh;
    input,
    button {
        height: 3em;
        border-radius: 5px;
        margin: 0;
        border: none;
    }

    input {
        width: 70vw;

        &::placeholder {
            padding-left: 1em;
            font-weight: 500;
        }
    }

    button {
        padding: 0 1em;
        background-color: $Cyan;
        color: #fff;
    }

    @include respond(mobile) {
        // display: none;
        // bottom: -10vh;
        position: relative;
        top: 20vh;
        padding: 1em;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 $desktop-padding-side;
        input,
        button {
            width: 100%;
        }

        button {
            margin-top: 1em;
        }
    }
}
